/* ===== SPメニュー ===== */
.sp-menu {
  display: none;  /* 初期は非表示 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 84vh;
 
  transition: 0.4s ease;
  z-index: 9999;
  padding-top: 120px;
  text-align: center;
}

/* 表示時 */
.sp-menu.active {
  top: 0;
}

/* メニュー文字 */
.sp-menu ul li {
  margin: 43px 0;
}

.sp-menu ul li a {
  color: #fff;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-family: "Sofia Pro Variable", sans-serif;
  font-weight: 700;
}

/* contact だけ色 */
.sp-menu .sp-contact-link {
  color: #eba700 !important;
}

/* 閉じるボタン */
.close-btn {
  display: none;  /* 初期は非表示 → JSでshow/hide */
  position: absolute;
  top: 22px;
  right: 51px;
  font-size: 32px;
  color: #fff;
  cursor: pointer;
  z-index: 10000;
}
