/* ===============================
   共通ラッパー
=============================== */
.page-wrapper {
  box-sizing: border-box;
}

/* ===============================
   タイトル部分
=============================== */
.works-header {
  display: flex;
  align-items: center;
  gap: 32px;
  margin: 300px auto 234px;
}

.works-title {
  text-align: center;
}

.works-title h2 {
  font-size: 20px;
  letter-spacing: 0.1em;
  font-family: "Sofia Pro Variable", sans-serif;
  font-weight: 600;
  margin-top: 40px;
}

.works-title p {
  font-size: 16px;
  letter-spacing: 0.1em;
  margin-top: 12px;
}

.works-line {
  width: 583px;
  height: 1px;
  background-color: #000;
}

/* ===============================
   作品タイトル
=============================== */
.work-title {
  text-align: center ;
  font-family: "Sofia Pro Variable", sans-serif;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.1em;
  margin: 0 auto 80px;
}





/* ===============================
   2カラム
=============================== */
.work-detail {
  display: block;
  width: 100%;
}

.work-inner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}



/* 左側 PC mockup */
.mockup img {
  width: 100%;
  max-width: 600px;  /* ←元サイズの上限設定 */
  height: auto;
}


/* スクロール右側 */
.scroll-area-wrapper {
  position: relative;
  padding-right: 80px;
  z-index: 1;
}

.scroll-area {
  width: 100%;
  max-width: 400px; 
  height: 500px;    
  overflow-y: scroll;
}



.scroll-area img {
  width: 100%;
  display: block;
}

/* スクロールバー非表示 */
.scroll-area::-webkit-scrollbar {
  display: none;
}
.scroll-area {
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-top: 10px;
}

/* scroll 表示 */
.scroll-indicator {
  position: absolute;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  top: 250px;
}

.scroll-indicator span {
  writing-mode: vertical-rl;
  font-size: 14px;
  letter-spacing: 0.04em;
  font-family: "Sofia Pro Variable", sans-serif;
}

.scroll-indicator {
  writing-mode: initial !important;
}

.scroll-indicator span {
  writing-mode: vertical-rl !important;
}


.line {
  width: 1px;
  height: 230px;
  background-color: #000;
}

.view-switch button {
  width: 119px;
  height: 33px;
  border: 2px solid #000;
  border-radius: 13px;
  font-size: 15px;
  font-family: "Sofia Pro Variable", sans-serif;
  font-weight: 600;
  letter-spacing: 0.1em;
  background: #fff;       
  cursor: pointer;
  transition: 0.2s;
  margin-bottom: 10px;
}

.view-switch button.active {
  background: #cccccc;   
}

.view-switch {
  display: flex;
  gap: 25px; 
}

/* 画像切り替え */
.view-pc {
  display: block;
}

.view-sp {
  display: none;
}

/* ライフヘアだけ sp ボタンを消す */
.no-sp .sp-btn {
  display: none;
}

/* ボタンが1個になった時の整列 */
.no-sp .view-switch {
  gap: 0;
}




@media (max-width: 1120px) {
  .scroll-indicator{
    right: 20px;
    top: 230px;
  }

  .scroll-indicator span {
    font-size: 13px;
  }

 

  .scroll-area {
    width: 300px;
    height: 380px;
  }

}




@media (max-width: 768px) {
  .view-switch {
    display: none;
  }
}

/* designcafe のページだけ SP で表示 */
@media (max-width: 768px) {
  #designcafe .view-switch {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    gap: 40px;
  }
}

/* workers のページだけ SP で表示 */
@media (max-width: 768px) {
  #workers .view-switch {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
}



@media (max-width: 768px) {

  /* 全体を縦積み */
  .work-inner {
    flex-direction: column;
    align-items: center;
    gap: 100px;
    width: 100%;
    margin: 0 auto;
  }

 
  .mockup img {
    width: 400px;
    height: auto;
  }

 
  .scroll-area {
    width: 300px;
    height: 372px;
    overflow-y: scroll;
    margin: 0 auto;
  }


  .scroll-area img {
    width: 100%;
    height: auto;
    display: block;
  }

 

  /* タイトルの余白調整 */
  .works-title {
    margin: 0 !important;
  }

  .works-line {
    width: 300px;
  }

  .works-header {
    margin: 200px 0 100px !important;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
  }

  .view-switch {
    display: none;
  }


  .scroll-indicator {
    display: flex;
    position: absolute;
    right: -40px; 
    transform: translateY(-50%);
    flex-direction: column;
    align-items: center;
    z-index: 10;
    top: 200px;
  }

  .scroll-indicator span {
    writing-mode: vertical-rl;
    font-size: 12px;
    letter-spacing: 0.2em;
    color: #000;
  }

  .scroll-indicator .line {
    width: 0.5px;
    height: 120px;
    background-color: #000;
    margin-top: 8px;
  }

  .scroll-area-wrapper {
    padding-right: 0;
  }


}


/* ===============================
   詳細ボックス（説明文）
=============================== */
.detail-box {
    max-width: 900px;   
    margin: 0 auto;   
    padding: 0 20px;
    box-sizing: border-box;
    margin-top: 50px;
}


.detail-row {
  display: grid;
  grid-template-columns: minmax(100px,180px) 1fr; 
  column-gap: 40px;
  padding: 40px 0;
  position: relative;
  margin: 0 auto 70px;
}




/* 線 973px */
.detail-row::after {
  content: "";
  position: absolute;
  left: 0;       
  bottom: 0;
  max-width: 973px;
  width: 100%;
  height: 1px;
  background: rgba(36, 39, 50, 0.3);
}

.detail-title {
  font-size: 18px;
  letter-spacing: 0.1em;
}


.detail-text {
  max-width: 100%; 
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.1em;
}

@media (max-width: 1200px) {
  .detail-box {
    max-width: 900px;
  }

  .detail-row {
    padding-left: 40px !important;
    grid-template-columns: 120px 1fr;
    column-gap: 30px;
  }

  .detail-row::after {
    left: 40px !important;
    width: calc(100% - 40px) !important;
  }

  .detail-text {
    width: 100%;
  }
}




@media (max-width: 768px) {

  .detail-box {
    margin-top: 80px;
    padding: 0 20px;
  }

  .detail-row {
    display: flex;               
    justify-content: flex-start;
    align-items: flex-start;
    gap: 70px;                   
    
    padding: 30px 0;
    position: relative;

    padding-left: 0;
    margin-left: 0;
  }
  

  /* アンダーライン 347px */
  .detail-row::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: rgba(36, 39, 50, 0.3);
  }

  /* 左側タイトル */
  .detail-title {
    font-size: 12px;
    letter-spacing: 0.08em;
    width: 60px;                
    white-space: nowrap;
  }

  /* 右側テキスト */
  .detail-text {
    font-size: 12px;
    letter-spacing: 0.08em;
    line-height: 2;
    width: calc(100% - 60px - 20px); 
    width: 100%;
  }
}



/* ===============================
   Pager Area
=============================== */

.pager-area {
  margin-top: 160px;
  text-align: center;
}

/* back / next ボタン横並び */
.pager-buttons {
  display: flex;
  justify-content: center;
  gap: 140px;
  margin-bottom: 60px;
}

.pager-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 110px;
  border: 2px solid #000;
  border-radius: 13px;    
  font-size: 26px;
  font-family: "Sofia Pro Variable", sans-serif;
  letter-spacing: 0.12em;
  color: #000;
  text-decoration: none;
  transition: 0.3s;
}


.pager-btn:hover {
  opacity: 0.6;
}

/* PC：hover時に波線を描く */
.back-list {
  position: relative;
  display: inline-block;
}

.back-list::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 0;           
  width: 0;          
  height: 6px;

  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAwIiBoZWlnaHQ9IjE4IiB2aWV3Qm94PSIwIDAgMjAwIDE4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxwYXRoIGQ9Ik0yIDkgQzM1IDIsIDcwIDE2LCAxMDUgOSBDMTM1IDIsIDE2NSAxNiwgMTk4IDkiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBmaWxsPSJub25lIi8+PC9zdmc+");
  background-size: 90px auto;
  background-repeat: no-repeat;

  opacity: 0;
  transition: width 0.45s ease, opacity 0.25s ease;
}

/* hoverしたときに伸ばす */
.back-list:hover::after {
  width: 90px;     
  opacity: 1;
}






.back-next-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 203px;
    height: 56px;
    font-size: 15px;
    font-family: "Sofia Pro Variable", sans-serif;
    letter-spacing: 0.1em;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 13px;
    background: #fff;
    color: #000;
    text-decoration: none;
    transition: 0.2s;
}



.back-next-wrap {
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-bottom: 50px;
}

@media (max-width: 768px) {

  /* back / next ボタン（SP） */
  .back-next-wrap {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-bottom: 70px;
    margin-top: 100px;
  }

  .back-next-btn {
    width: 159px; 
    height: 44px;
    font-size: 14px;
    border-width: 1.5px;
    border-radius: 13px;
  }

  /* 一覧へ戻る（SP） */
  .back-list {
    font-size: 14px;   
  }

  .back-list::after {
    width: 90px !important;  
    opacity: 1 !important;    
  }
  .back-list:hover::after {
    width: 90px !important;  
    opacity: 1 !important;
  }

}




/* ===== contact セクション ===== */
.contact {
  max-width: 1400px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 226px;
}

.contact-text {
  max-width: 600px;
  margin: 264px auto 0;
  padding: 0 10px;
}

.contact-text h2 {
  font-size: 25px;
  margin-bottom: 47px;
}
.contact-text p {
  font-size: 16px;
  margin-bottom: 40px;
  line-height: 2;
}

.contact-btn {
  display: inline-block;
  width: 280px;
  height: 54px;
  line-height: 54px;
  border-radius: 13px;
  border: 2px solid #000;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  color: #000;
  background: #fff;
  transition: 0.3s;
}

.contact-btn:hover {
  background: #fff;
}

@media (max-width: 768px) {

  /* ▼ contact セクション全体 */
  .contact {
    padding-bottom: 78px;  
    padding-top: 0px;
  }


  .contact-text h2 {
    font-size: 20px;
    margin-bottom: 31px;
    margin-top: 115px;
    font-weight: 600;
  }

 
  .contact-text p {
    font-size: 14px;
    line-height: 2.14;
    margin-bottom: 48px;
  }

  /* ▼ ボタン（16px） */
   .contact-btn {
    width: 280px;     
    height: 64px;    
    line-height: 64px; 
    font-size: 16px;
    border-radius: 13px;
    font-weight: 700;
    margin: 0 auto;  
  }
  .contact-text {
    margin: 0 auto;
  }

}



 
/* ===== FOOTER ===== */
.footer {
  position: relative;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

.footer svg {
  transform: translateY(10px);
}
.footer__inner {
  background-color: #47b2b2;
}




.footer-wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto; /* 高さは自動で比率を保つ */
  object-fit: none; 
  z-index: 0;
  pointer-events: none;
  object-position: top;
}


.footer-links {
  position: relative;
  z-index: 1;
  max-width: 900px;
  margin: 0 auto;
}

.footer-wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 0;
}

.footer-links {
  position: relative;
  z-index: 1;
  max-width: 900px;
  margin: 0 auto;
}



/* === sns・nav・pagetop === */
.footer-top {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;  
  max-width: 900px;
  margin: 0 auto 50px auto;
  position: relative; 
}


/* SNS */
.sns a {
  display: inline-block;
  margin: 0 10px;
}
.sns img {
  width: 23px;
  height: 23px;
  transition: opacity 0.3s;
}
.sns img:hover {
  opacity: 0.7;
}
.sns {
  display: flex;
  gap: 20px;
}



/* ナビ */
.footer-nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  font-size: 20px;
}

.footer-nav a {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.05em;
  font-family: 'Sofia Pro Variable', sans-serif;
  font-weight: 600; /* Semi Bold */
}
.footer-nav {
  margin-left: 50px;
}



/* コピーライト */
.copy {
  font-size: 12px;
  text-align: center;
  padding: 30px;
  width: 100%;
}


@media (max-width: 768px) {

  /* footer 全体を縦並びに */
  .footer-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px; 
    margin: 0;
  }

  /* nav（home / about …） */
  .footer-nav {
    order: 1;
    margin: 0 auto;
  }


  .footer-nav ul {
    display: flex;
    flex-direction: column; 
    align-items: center;   
    gap: 50px;           
  }

  .footer-nav a {
    font-size: 20px;  
  }


  .sns {
    order: 2;
    gap: 70px;
  }

  .sns img {
    width: 33px;
    height: 33px;
    
  }

  /* コピーライト */
  .copy {
    order: 3;
    margin-top: -30px;
  }

}

 


